.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

.form-text > input {
  width: 45%;
  height: 35px;
  margin: 1em; 
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}
.form-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form-button {
  background-color: #672280;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  margin: 15px; 
  border-radius: 5px;
  height: 40px;
  border: none;
  cursor: pointer;
}